# additional visualization and plotting packages
plotly
chart-studio
bqplot
mpld3

# required for pandas read_html
html5lib
lxml

# required for pyviz
phantomjs
selenium
colorcet
datashader
holoviews
hvplot
flask

# pandas datareader
pandas-datareader
