# additional visualization and plotting packages
plotly
bqplot
mpld3

# required for pandas read_html
html5lib
lxml

# required for pyviz
phantomjs
selenium
colorcet
datashader
holoviews
hvplot
flask

